// mixins

@mixin glassCss () {
  backdrop-filter: blur(2px) saturate(48%);
  -webkit-backdrop-filter: blur(2px) saturate(48%);
  background-color: rgba(17, 25, 40, 0.49);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

// codes start

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  border-radius: 0px !important;
}

main {
  padding: 0px !important;
}

// login page

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/nature2.jpg);
  background-repeat: no-repeat;
  background-color: red;
  background-size: cover;
  width: 100%;

  .login-page-form {
    width: 400px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    .form-input {
      color: #000;
      ;
    }
  }


}


// login redirect page


.login-redirect-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/nature4.jpg);
  background-repeat: no-repeat;
  background-color: #D4D8F3;
  object-fit: cover;
  background-size: cover;
  overflow: hidden !important;

  .login-redirect-btn {
    margin-top: -300px;
    margin-right: -600px;
    @include glassCss();
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    line-height: 50px;
  }

  .redirect-float {
    position: absolute;
    left: 100px;
    font-size: 100px;
  }
}

// admin page

// .admin-layout-layout {
//   background-color: red !important;
// }

.admin-logo-adl h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #fff;
}

.admin-aside {
  height: 100vh;
}

.admin-content {
  height: calc(100vh - 64px);
  overflow: auto;
}

.admin-header {
  backdrop-filter: blur(16px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: rgba(17, 25, 40, 0.75) !important;
  border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

.logoutbtn-admin {
  width: 100%;
  border: none !important;
  background-color: transparent !important;
  color: #aaa;
  padding: 0 !important;
  text-align: left;

  &:hover {
    color: #aaa !important;
  }
}

// dashboard page


.dashboard-page {
  height: 100vh;
  background-image: url(../images/dashboard-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// students page

.students-page {
  height: 100vh;
  background-image: url(../images/students-bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// teachers page

.teachers-page {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  height: 100vh;
  background-image: url(../images/teachers-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.see-students {
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

// so much done


// ant change





// api data

.api-data-img {
  border-radius: 50% !important;
}